sources:  
  "C:\inetpub\test": https://github.com/sundeep-Zolon/MydeployDeploySite.git
files:  
  "C:\\inetpub\\test":
     source: https://github.com/sundeep-Zolon/MydeployDeploySite.git
     authentication: sundeep-Zolon:

  "C:\inetpub\test":
     content: |
       # this is my file

commands:
  test:
    command: set > C:\\inetpub\\test
    leader_only: true
    waitAfterCompletion: 0
